/* FOOTER */
.footer__section {
    background-color: $background-dark-color;
    padding: 60px 0;
    display: flex;

    .footer__container {
        display: flex;
        align-items: baseline;

        .footer__address {
            font-style: normal;
            font-size: 14px;
            line-height: calc(24/14);
            letter-spacing: 0.03em;
            color: $white-text-color;
            transition: color $transition-time $transition-time-function;

                &:hover,
                &:focus {
                    color: $accent-color;
                }
        }

        .footer__contacts-link {
            font-style: normal;
            font-size: 14px;
            line-height: calc(24/14);
            color: $white-text-color;
            opacity: 0.6;
            transition: color $transition-time $transition-time-function;

                &:hover,
                &:focus {
                    color: $accent-color;
                }
        }

        .footer__contacts-item {
            display: flex;
            fill: currentColor;
            width: 231px;

                &:not(:last-child) {
                    margin-bottom: 2px;
                }
        }

        .footer__container-left {
            margin-right: 70px;
        }
    }
}
