@use '../utilities/variables';

.footer__section {
    min-width: 320px;
    background-color: variables.$background-dark-color;

    .footer__container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__address {
        font-style: normal;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        text-align: center;
        color: variables.$white-text-color;
        transition: color variables.$transition-time variables.$transition-time-function;
        margin-bottom: 10px;
        display: flex;

        &:hover,
        &:focus {
            color: variables.$accent-color;
        }
    }

    .footer__contacts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }

    .footer__contacts-link {
        font-style: normal;
        font-size: 14px;
        line-height: calc(24/14);
        color: variables.$white-text-color;
        opacity: 0.6;
        transition: color variables.$transition-time variables.$transition-time-function;

        &:hover,
        &:focus {
            color: variables.$accent-color;
        }
    }

    // // FOOTER CONTAINER MIDDLE SOCIAL LINKS
    .footer__container-middle {
        display: flex;
        flex-direction: column;

        .footer__socials-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: variables.$white-text-color;
            margin-bottom: 20px;
        }

        .footer__socials-list {
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
        }

        .footer__socials-item:not(:last-child) {
            margin-right: 10px;
        }

        .footer__socials-link {
            width: 44px;
            height: 44px;
            background-color: rgba(255, 255, 255, 0.1);
            fill: variables.$white-text-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color variables.$transition-time variables.$transition-time-function,
                color variables.$transition-time variables.$transition-time-function;

            &:hover,
            &:focus {
                background-color: variables.$accent-color;
                color: variables.$dark-text-color;
            }
        }
    }
}