@use '../utilities/variables';

// MODAL FORM
.modal__form-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: variables.$dark-text-color;
}

.modal__form ::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__form-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: variables.$medium-text-color;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover .modal__icon,
    &:focus .modal__icon {
        fill: variables.$accent-color;
    }
}

.modal__form-field {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: variables.$dark-text-color;
    transition: border-color variables.$transition-time variables.$transition-time-function;
    cursor: pointer;
    padding-left: 42px;
    outline: none;

    &:hover,
    &:focus {
        border-color: variables.$accent-color;
    }

    &:hover .modal__icon,
    &:focus .modal__icon {
        fill: variables.$accent-color;
    }

    &:not(:placeholder-shown) {
        border-color: variables.$accent-color;
    }
}

.modal__icon {
    position: absolute;
    top: 50%;
    margin-left: 12px;
    fill: black;
}

.modal__form-comments {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.01em;
    width: 448px;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    color: variables.$dark-text-color;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: border-color variables.$transition-time variables.$transition-time-function;

    &:not(:placeholder-shown) {
        border-color: variables.$accent-color;
    }

    &:hover,
    &:focus {
        border-color: variables.$accent-color;
    }
}

.modal__form-checkbox-label {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: variables.$medium-text-color;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 11px;
    padding-right: 40px;
    padding-left: 10px;

    .modal__form-checkbox {
        opacity: 0;

        &:checked+.modal__checkbox {
            border: none;
            background-color: variables.$accent-color;
        }
    }

    .modal__checkbox {
        border: 2px solid black;
        border-radius: 4px;
        width: 16px;
        height: 15px;
        margin-top: 5px;
        padding-right: 12px;
        transition: border variables.$transition-time variables.$transition-time-function;
        cursor: pointer;

        .modal__check {
            position: absolute;
            top: 19%;
            margin-left: 2px;
        }
    }

    .terms-conditions__link {
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
    }
}
