// BODY STYLE
img {
    display: block;
    max-width: 100%;
    height: auto;
}

// HEADER CONTACTS ICONS
.header__contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

// HERO IMG
.hero__section {
    background-color: $background-dark-color;
    padding: 200px 0;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/r-hero-background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// BENEFITS IMG
.benefits__item-icon-container {
    padding: 25px 100px;
    background-color: $background-medium-color;
    border: $background-medium-color;
    border-radius: 4px;

        .benefits__icon {
            fill: currentColor;
        }
}

// OUR TEAM SOCIAL LINK/IMG
.our-team__image {
    display: block;
}

.socials__list {
    display: flex;
    justify-content: center;

        .socials__item:not(:last-child) {
            margin-right: 10px;
        }

        .socials__link {
            width: 44px;
            height: 44px;
            background-color: $background-white-color;
            color: #AFB1B8;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color $transition-time $transition-time-function,
                color $transition-time $transition-time-function;

                &:hover,
                &:focus {
                    background-color: $accent-color;
                    color: $background-white-color;
                }
        }

        .socials__icon {
            fill: currentColor;
        }
}
 
// REGULAR CUSTOMERS IMGS
.regular-customers__logo {
    fill: currentColor;
}

.regular-customers__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-color: #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border-color $transition-time $transition-time-function,
        color $transition-time $transition-time-function;

        &:hover,
        &:focus {
            border-color: $accent-color;
            color: $accent-color;
        }
}

// FOOTER CONTAINER MIDDLE SOCIAL LINKS
.footer__container-middle {
    display: flex;
    flex-direction: column;
    margin-right: 93px;

    .footer__socials-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-text-color;
        margin-bottom: 20px;
    }

    .footer__socials-list {
        display: flex;
        justify-content: center;
    }

    .footer__socials-item:not(:last-child) {
        margin-right: 10px;
    }

    .footer__socials-link {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        fill: $white-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: background-color $transition-time $transition-time-function,
            color $transition-time $transition-time-function;

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $dark-text-color;
        }
    }
}
