// HERO BACKGROUND IMAGE
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero__section {
    background-image: url(../images/r-hero-background-image.jpg);
  }
}

// BENEFITS IMAGES



// MOBILE MENU
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
