.section {
    min-width: 320px;
    max-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media all and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}