@use '../utilities/variables.scss';

.benefits__section {
    width: 480px;
}

.benefits__container {
   width: 480px;
}

.benefits__list {
    width: 450px;

    .benefits__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .benefits__item-icon-container {
        padding: 25px 190px;
        background-color: variables.$background-medium-color;
        border: variables.$background-medium-color;
        border-radius: 4px;

        .benefits__icon {
            fill: currentColor;
        }
    }

    .benefits__item-title {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .benefits__summary {
        font-style: 14px;
        line-height: calc(24/14);
        color: variables.$medium-text-color;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

}

